%p#notice= notice

%p 
  %h2= @blog.title
%p
  %strong Title:
  = @entry.title
%p
  %strong Body:
  = @entry.body
= link_to 'Edit', edit_blog_entry_path(@blog, @entry)
|
= link_to 'Back', blog_entries_path(@blog)

%hr

%h1 Listing Comments
%table
  %thead
    %tr
      %th Body
      %th{:colspan => "3"}
  %tbody
    - @entry.comments.each do |comment|
      %tr
        %td= comment.body
        - if comment.approved?
          %td
        - else
          %td= link_to "#{comment.status}", approve_blog_entry_comment_path(@blog, @entry, comment), method: :get
        %td= link_to 'Destroy', blog_entry_comment_path(@blog, @entry, comment), method: :delete, data: { confirm: 'Are you sure?' }
%br/

= render 'comments/form'
