%p
  新しいコメントが登録されました。
  %br/
  承認または削除してください。
%p 
  Blog: #{@blog.title}
  %br/
  Entry: #{@entry.title}
  %br/
  Comment: #{@comment.body}
  %br/
  - link = url_for [@blog, @entry]
  URL: <a href=#{link}>#{link}</a>
